{% load static %}

<div class="flex items-center space-x-4 p-4 rounded-lg max-w-7xl mx-auto min-h-[10vh]">
    <div class="container mx-auto flex justify-around items-center">
        <div class="w-9/12 pr-4">
            <!-- Formulário de Pesquisa -->
            <form action="{% url 'game_search' %}" method="get" class="w-full">
                <input 
                    type="text" 
                    name="q" 
                    placeholder="Search for a game..." 
                    class="w-full p-2 rounded-lg text-black focus:outline-none" 
                />
            </form>
        </div>

        <div class="w-3/12 flex justify-end items-center space-x-4">
            <span class="text-white font-semibold">{{ user.username }}</span>
            <a href="/user/{{ user.id }}/">
                <img src="{% static 'media/assets/profileTemplate.png' %}" alt="Profile Picture" class="w-12 h-12 rounded-full object-cover" />
            </a>
        </div>
    </div>
</div>