{% load static %}

<!-- Botao Sidebar -->
<button
  id="sidebarToggle"
  class="fixed top-1/2 -translate-y-1/2 left-0 z-50 p-2 bg-purple-700 text-white rounded-r-lg transition-transform duration-300 transform hover:translate-x-1"
  aria-label="Toggle sidebar"
>
  <i id="toggleIcon" class="bi bi-chevron-right"></i>
</button>

<!-- Sidebar  -->

<aside
  id="sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full"
  aria-label="Sidebar"
>
  <div
    class="h-full px-3 py-4 overflow-y-auto bg-opacity-50 bg-purple-900 backdrop-blur-md"
  >
    <div>
      <img
        class="h-[90px] w-[90px] mx-auto"
        src="{% static 'media/assets/logo.png' %}"
        alt="Logo"
      />
    </div>
    <div class="block items-center justify-between mb-5 p-2">
      <div class="flex items-center">
        <span class="text-white text-xl font-semibold mx-auto"
          >MyRetroGameList</span
        >
      </div>
    </div>
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="{% url 'home' %}"
          class="flex items-center p-2 text-white rounded-lg hover:bg-purple-700 group"
        >
          <i class="bi bi-house-door text-xl mr-3"></i>
          <span>Home</span>
          <i class="bi bi-chevron-right ml-auto"></i>
        </a>
      </li>
      <li>
        <a
          href="{% url 'gamelist' %}"
          class="flex items-center p-2 text-white rounded-lg hover:bg-purple-700 group"
        >
          <i class="bi bi-list-task text-xl mr-3"></i>
          <span>Game List</span>
          <i class="bi bi-chevron-right ml-auto"></i>
        </a>
      </li>
      <li>
        <a
          href="/user/{{ user.id }}/"
          class="flex items-center p-2 text-white rounded-lg hover:bg-purple-700 group"
        >
          <i class="bi bi-person-badge text-xl mr-3"></i>
          <span>User</span>
          <i class="bi bi-chevron-right ml-auto"></i>
        </a>
      </li>
      <li>
        <a
          href="{% url 'forum_list' %}"
          class="flex items-center p-2 text-white rounded-lg hover:bg-purple-700 group"
        >
          <i class="bi bi-chat-right-quote text-xl mr-3"></i>
          <span>Forum</span>
          <i class="bi bi-chevron-right ml-auto"></i>
        </a>
      </li>
      <li>
        <a
          href="{% url 'logout' %}"
          class="flex items-center p-2 text-white rounded-lg hover:bg-purple-700 group"
        >
          <i class="bi bi-box-arrow-left text-xl mr-3"></i>
          <span>Logout</span>
          <i class="bi bi-chevron-right ml-auto"></i>
        </a>
      </li>
    </ul>
  </div>

  <div
    class="p-4 hover:bg-purple-700 sticky bottom-0 flex items-center justify-between"
  >
    <i class="bi bi-info-circle text-xl text-white"></i>
    <a
      href="https://github.com/andgabx/MyRetroGameList"
      target="_blank"
      class="flex-grow text-center text-white"
    >
      <span>About us</span>
    </a>
  </div>
</aside>

<!-- Include your JS script -->
<script src="{% static 'components/sidebar/sidebar.js' %}"></script>
