{% load static %}
{% if games %}
<div class="space-y-4">
    {% for game in games %}
    <div class="grid grid-cols-1 md:grid-cols-[auto,1fr,15%] gap-4 rounded-lg">
        <!-- Coluna 1 - Imagem -->
        <a class=" " href="{% url 'gamepage' game_id=game.id %}">
            <img src="{{ game.image_url }}" alt="{{ game.title }}" class="hover:scale-[102%] transition duration-400 ease-in-out transform sm:max-h-40 md:w-fit object-cover rounded mx-auto" loading="lazy" />
        </a>

        <!-- Coluna 2 - Nome, descrição, favoritar -->
        <div>
            <div class="flex md:!justify-start justify-between">
                <h2 class="text-xl font-bold text-white">{{ game.title }}</h2>
                
                <!-- Botão de Favorito com JavaScript -->
                <form id="favorite-form-{{ game.id }}" method="POST" action="{% url 'manage_game_addition' action='add_to_favorite_list' id=game.id %}" class="favorite-form">
                    {% csrf_token %}
                    <button type="button" class="px-2 h-8 w-8 toggle-favorite-btn" data-game-id="{{ game.id }}" aria-label="Toggle Favorite">
                        {% if game in request.user.profile.favorite_list.all %}
                        <i class="bi bi-star-fill text-yellow-400"></i>
                        {% else %}
                        <i class="bi bi-star text-gray-300"></i>
                        {% endif %}
                    </button>
                </form>
            </div>
            <p class="mt-2 text-sm text-gray-300">{{ game.description }}</p>
        </div>

        <!-- Coluna 3 - Botões -->
        <div class="flex flex-col space-y-2 h-full">
            <!-- Botão "Já Joguei" com Redirecionamento -->
            <form id="already-played-form-{{ game.id }}" method="POST" action="{% url 'manage_game_addition' action='add_to_already_played' id=game.id %}" class="already-played-form">
                {% csrf_token %}
                <button type="button" class="flex items-center justify-center bg-purple-600 hover:bg-purple-700 text-white font-bold p-2 rounded w-full h-full toggle-already-played-btn" data-game-id="{{ game.id }}" aria-label="Add to Already Played">Already played</button>
            </form>
        
            <!-- Botão "Quero Jogar" com Redirecionamento -->
            <form id="want-to-play-form-{{ game.id }}" method="POST" action="{% url 'manage_game_addition' action='add_to_to_play' id=game.id %}" class="want-to-play-form">
                {% csrf_token %}
                <button type="button" class="flex items-center justify-center bg-purple-600 hover:bg-purple-700 text-white font-bold p-2 rounded w-full h-full toggle-want-to-play-btn" data-game-id="{{ game.id }}" aria-label="Add to Want to Play">I want to play</button>
            </form>
        </div>        
    </div>    
    {% endfor %}
</div>
{% else %}
<div class="flex items-center space-x-4 p-4 rounded-lg">
    <div class="flex-grow text-center">
        <h2 class="text-xl text-white font-bold">No games found</h2>
        <p class="mt-2 text-sm text-gray-300">It seems you haven't added any games yet. Start exploring and add your favorites!</p>
    </div>
</div>
{% endif %}

<!-- JavaScript para Gerenciamento do Favorito e Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script>
    function showNotification(message) {
        const modal = document.getElementById("notification-modal");
        const notificationMessage = document.getElementById("notification-message");

        // Define a mensagem e exibe o modal
        notificationMessage.innerText = message;
        modal.classList.remove("hidden");

        // Animação de entrada com Anime.js
        anime({
            targets: "#modal-content",
            scale: [0.8, 1],
            opacity: [0, 1],
            duration: 500,
            easing: 'easeOutExpo'
        });

        // Oculta o modal após 2 segundos
        setTimeout(() => {
            anime({
                targets: "#modal-content",
                scale: [1, 0.8],
                opacity: [1, 0],
                duration: 500,
                easing: 'easeInExpo',
                complete: () => {
                    modal.classList.add("hidden");
                }
            });
        }, 2000);
    }

    // Função para tratar os botões de favoritos e exibir o modal
    document.querySelectorAll('.toggle-favorite-btn').forEach(button => {
        button.addEventListener('click', function () {
            const gameId = this.dataset.gameId;
            const form = document.getElementById(`favorite-form-${gameId}`);
            const csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(form.action, {
                method: 'POST',
                headers: { 'X-CSRFToken': csrfToken },
                body: new FormData(form)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const icon = button.querySelector('i');
                    icon.classList.toggle('bi-star');
                    icon.classList.toggle('bi-star-fill');
                    icon.classList.toggle('text-yellow-400');
                    icon.classList.toggle('text-gray-300');
                    const message = icon.classList.contains('bi-star-fill') ? "Added to Favorites!" : "Removed from Favorites!";
                    showNotification(message);
                }
            });
        });
    });

    // Função para tratar o botão "Já Joguei" e exibir o modal
    document.querySelectorAll('.toggle-already-played-btn').forEach(button => {
        button.addEventListener('click', function () {
            const gameId = this.dataset.gameId;
            const form = document.getElementById(`already-played-form-${gameId}`);
            const csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(form.action, {
                method: 'POST',
                headers: { 'X-CSRFToken': csrfToken },
                body: new FormData(form)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const message = data.added ? "Added to Already Played!" : "Removed from Already Played!";
                    showNotification(message);
                }
            });
        });
    });

    // Função para tratar o botão "Quero Jogar" e exibir o modal
    document.querySelectorAll('.toggle-want-to-play-btn').forEach(button => {
        button.addEventListener('click', function () {
            const gameId = this.dataset.gameId;
            const form = document.getElementById(`want-to-play-form-${gameId}`);
            const csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(form.action, {
                method: 'POST',
                headers: { 'X-CSRFToken': csrfToken },
                body: new FormData(form)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const message = data.added ? "Added to Want to Play!" : "Removed from Want to Play!";
                    showNotification(message);
                }
            });
        });
    });
</script>

<!-- Modal de Notificação -->
<div id="notification-modal" class="fixed inset-0 flex items-center justify-center bg-opacity-50 bg-black hidden">
    <div id="modal-content" class="bg-purple-500 text-white p-6 rounded-lg shadow-lg text-center max-w-sm mx-auto">
        <p id="notification-message" class="text-lg font-semibold">Game added to your list!</p>
    </div>
</div>
