{% load static %}
{% if games %}
<div class="space-y-4">
    {% for game in games %}
    <div class="grid grid-cols-1 md:grid-cols-[auto,1fr,15%] gap-4 rounded-lg">
        <!-- Coluna 1 - Imagem -->
        <a class=" " href="{% url 'gamepage' game_id=game.id %}">
            <img src="{{ game.image_url }}" alt="{{ game.title }}" class="hover:scale-[102%] transition duration-400 ease-in-out transform sm:max-h-40 md:w-fit object-cover rounded mx-auto" loading="lazy" />
        </a>

        <!-- Coluna 2 - Nome, descrição, favoritar -->
        <div>
            <div class="flex md:!justify-start justify-between">
                <h2 class="text-xl font-bold text-white">{{ game.title }}</h2>
                <!-- Favorite Button -->
                <form id="favorite-form-{{ game.id }}" method="POST" action="{% url 'manage_game_addition' action='toggle_favorite' id=game.id %}">
                    {% csrf_token %}
                    <button type="submit" class="px-2 h-8 w-8" aria-label="Toggle Favorite">
                        {% if game in request.user.profile.favorite_list.all %}
                        <i class="bi bi-star-fill text-yellow-400"></i>
                        {% else %}
                        <i class="bi bi-star text-gray-300"></i>
                        {% endif %}
                    </button>
                </form>
            </div>
            <p class="mt-2 text-sm text-gray-300">{{ game.description }}</p>
        </div>

        <!-- Coluna 3 - Botões -->
        <div class="flex flex-col space-y-2 h-full">
            <!-- Formulário para adicionar o jogo à lista "Já joguei" -->
            <form method="POST" action="{% url 'manage_game_addition' action='add_to_already_played' id=game.id %}" class="flex-grow">
                {% csrf_token %}
                <button type="submit" class="flex items-center justify-center bg-purple-600 hover:bg-purple-700 text-white font-bold p-2 rounded w-full h-full" aria-label="Add to Already Played" data-action="add_to_already_played" data-game-id="{{ game.id }}">Already played</button>
            </form>
        
            <!-- Formulário para adicionar o jogo à lista "Quero jogar" -->
            <form method="POST" action="{% url 'manage_game_addition' action='add_to_to_play' id=game.id %}" class="flex-grow">
                {% csrf_token %}
                <button type="submit" class="flex items-center justify-center bg-purple-600 hover:bg-purple-700 text-white font-bold p-2 rounded w-full h-full" aria-label="Add to Want to Play" data-action="add_to_to_play" data-game-id="{{ game.id }}">I want to play</button>
            </form>
        </div>        
    </div>    
    {% endfor %}
</div>
{% else %}
<div class="flex items-center space-x-4 p-4 rounded-lg">
    <div class="flex-grow text-center">
        <h2 class="text-xl text-white font-bold">No games found</h2>
        <p class="mt-2 text-sm text-gray-300">It seems you haven't added any games yet. Start exploring and add your favorites!</p>
    </div>
</div>
{% endif %}