<!-- Botao Sidebar -->
<button
    id="sidebarToggle"
    class="fixed top-1/2 -translate-y-1/2 left-0 z-50 p-2 bg-purple-700 text-white rounded-r-lg transition-transform duration-300 transform hover:translate-x-1"
    aria-label="Toggle sidebar">
    <i id="toggleIcon" class="bi bi-chevron-right"></i>
</button>

<!-- Sidebar  -->

<aside
    id="sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full"
    aria-label="Sidebar">
    <div
        class="h-full px-3 py-4 overflow-y-auto bg-opacity-50 bg-purple-900 backdrop-blur-md">
        <div class="flex items-center justify-between mb-5 p-2">
            <div class="flex items-center">
                <i class="bi bi-box-seam text-white text-2xl mr-2"></i>
                <span class="text-white text-xl font-semibold">
                    MyRetroGameList
                </span>
            </div>
            <button id="closeSidebar" class="text-white">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
        <ul class="space-y-2 font-medium">
            <li>
                <a
                    href="#"
                    class="flex items-center p-2 text-white rounded-lg hover:bg-purple-700 group">
                    <i class="bi bi-house-door text-xl mr-3"></i>
                    <span>Início</span>
                    <i class="bi bi-chevron-right ml-auto"></i>
                </a>
            </li>
            <li>
                <a
                    href="#"
                    class="flex items-center p-2 text-white rounded-lg hover:bg-purple-700 group">
                    <i class="bi bi-list-task text-xl mr-3"></i>
                    <span>Lista de Jogos</span>
                    <i class="bi bi-chevron-right ml-auto"></i>
                </a>
            </li>
            <li>
                <a
                    href="#"
                    class="flex items-center p-2 text-white rounded-lg hover:bg-purple-700 group">
                    <i class="bi bi-person-badge text-xl mr-3"></i>
                    <span>Usuário</span>
                    <i class="bi bi-chevron-right ml-auto"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="mt-auto p-4 hover:bg-purple-700 sticky bottom-0">
        <a href="#" class="flex items-center text-white">
            <i class="bi bi-info-circle text-xl mr-3"></i>
            <span>Sobre nós</span>
        </a>
    </div>
</aside>
