<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>User Profile</title>

        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'styles/external_profile.css' %}" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    </head>

    <body class="bg-neutral-950 bg-gradient min-h-screen">

        {% include "components/sidebar.html" %}

        <!-- Main -->
        <div id="mainContent" class="transition-all duration-300 p-4">
            <div class="mx-auto max-w-7xl">

                <!-- Row de perfil -->
                <div class="grid md:grid-cols-3 gap-8 my-8">

                    <!-- Primeira Coluna - Foto de Perfil -->
                    <div class="flex justify-center">
                        <img
                            class="rounded-full w-100 h-100 object-cover"
                            src="{% static 'media/assets/profileTemplate.png' %}"
                            alt="Profile" />
                    </div>

                    <!-- Segunda Coluna - Informações -->
                    <div class="text-center md:text-center">

                        <h1 class="text-3xl text-white my-4 font-bold">
                            {{ profile.user.username }}
                        </h1>

                        <p class="text-white text-lg font-bold">Level 1</p>

                        <div class="flex justify-center items-center mt-2">
                            <p class="text-white mr-2">Recife, Brasil</p>
                            <i class="bi bi-flag text-white text-2xl"></i>
                        </div>

                        <div class="mt-4">
                            <p class="text-white text-justify text-md">{{ profile.user_description }}</p>
                        </div>

                    </div>

                    <!-- Terceira Coluna - Notificações -->
                    <div class="space-y-4">
                        <h1 class="text-white py-2 text-2xl text-center font-bold">Best Game Ever</h1>
                    </div>

                    <!--IMAGEM AQUI-->
                </div>

                <div class="space-y-8">
                    {% include "components/profile_horizontal_list.html" with games=profile.favorite_list.all list_name="Favorites" %}
                    {% include "components/profile_horizontal_list.html" with games=profile.playing_now.all list_name="Playing Now" %} 
                    {% include "components/profile_horizontal_list.html" with games=profile.to_play.all list_name="To play" %} 
                    {% include "components/profile_horizontal_list.html" with games=profile.already_played.all list_name="Already Played" %}
                </div>
                
            </div>

            <footer class="mt-12">
                {% include "components/footer.html" %}
            </footer>
        </div>

        <script src="{% static 'scripts/external_profile.js' %}"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </body>
</html>
