{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ game.title }} - Details</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles/gamepage.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body id="mainContent" class="bg-neutral-950 bg-gradient min-h-screen h-full">
    <!-- Header -->
    {% include "components/header.html" %}

    <main class="min-h-[80vh]">
        <div class="container mx-auto px-6 md:px-36">
            <!-- Game Header -->
            <div class="flex flex-col lg:flex-row items-start lg:items-center space-x-6 mb-8">
                <div class="w-full lg:w-1/3">
                    {% if game.image_url %}
                        <img src="{{ game.image_url }}" alt="{{ game.title }}" class="rounded w-full">
                    {% else %}
                        <div class="w-full h-64 bg-gray-700 flex items-center justify-center rounded">No Image</div>
                    {% endif %}
                </div>
                <div class="w-full lg:w-2/3">
                    <div class="flex items-center space-x-4">
                        <h1 class="text-4xl font-bold text-white py-2">{{ game.title }}</h1>
                        <!-- Botão para ir ao fórum do jogo -->
                        <a href="{% url 'forum_detail' game.forum.id %}" class="bg-purple-700 text-white p-2 rounded-xl hover:bg-purple-800 hover:scale-110 transition duration-300" title="Go to game forum">
                            <i class="bi bi-chat-dots text-xl"></i>
                        </a>
                    </div>
                    <p class="text-gray-400 text-sm mb-4">Genre: {{ game.genre }} | Release Date: {{ game.release_date }}</p>
                    <p class="text-gray-300 mb-4">{{ game.description }}</p>
                    <div class="flex items-center my-auto space-x-2">
                        <span class="bg-purple-70 px-4 py-2 rounded font-bold text-white">{{ average_rating }} ⭐</span>
                        <p class="text-gray-400">(Average Rating)</p>
                    </div>
                </div>
            </div>

            <!-- User Reviews Section -->
            <section class="rounded mt-6">
                <h2 class="text-2xl font-bold mb-4 text-white">User Ratings</h2>

                <!-- Formulário para adicionar uma nova avaliação -->
                {% if user %}
                    <form action="{% url 'add_review' game.id %}" method="POST" class="mb-6">
                        {% csrf_token %}
                        <textarea name="comentario" placeholder="Enter your review..." class="w-full p-3 rounded bg-gray-700 text-white mb-2"></textarea>
                        <div class="flex items-center space-x-2">
                            <select name="rating" class="bg-gray-700 text-white p-2 rounded">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <button type="submit" class="text-center bg-purple-700 text-white py-2 px-6 rounded-md shadow-lg transition duration-400 ease-in-out transform hover:scale-110">Submit review</button>
                        </div>
                    </form>
                {% else %}
                    <p class="text-gray-400">Log in to submit a review.</p>
                {% endif %}

<!-- Lista de avaliações dos usuários -->
<ul class="space-y-4">
    {% for rating in ratings %}
        <li class="bg-gray-700 p-4 rounded">
            <div class="flex items-center justify-between space-x-4">
                <div class="flex items-center space-x-4">
                    <div class="w-8 h-8 bg-gray-600 rounded-full"></div>
                    <span class="font-semibold text-white">{{ rating.user }}</span>
                    <span class="text-yellow-500">{{ rating.rating }} ⭐</span>

                    
                </div>

                {% if rating.user == request.user %}
                    <div class="flex items-center space-x-2">
        
                        <button type="button" class="text-blue-500 hover:text-blue-700" title="Edit review" onclick="openEditModal('{{ rating.id }}', '{{ rating.rating }}', '{{ rating.comentario }}')">
                            <i class="bi bi-pencil text-xl"></i>
                        </button>
                        
                        <form action="{% url 'delete_review' review_id=rating.id %}" method="post" class="inline-block ml-2">
                            {% csrf_token %}
                            <button type="submit" class="text-red-500 hover:text-red-700" title="Delete review">
                                <i class="bi bi-trash text-xl"></i>
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>
            
            <p class="m-2 text-gray-300">{{ rating.comentario }}</p>
        </li>
    {% empty %}
        <li class="text-gray-400">No reviews yet.</li>
    {% endfor %}
</ul>

<!-- Modal para edição da review -->
<div id="editReviewModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
    <div class="bg-gray-800 p-6 rounded w-full max-w-md relative">
        <h2 class="text-2xl font-bold text-white m-4 text-center">Edit Review</h2>
        
        <form id="editReviewForm" action="" method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="modalRating" class="block text-white py-2">Rating:</label>
                <select name="rating" id="modalRating" class="bg-gray-700 text-white p-2 rounded">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            
            <div class="mb-4">
                <label for="modalComentario" class="block text-white py-2">New comment:</label>
                <textarea name="comentario" id="modalComentario" class="w-full p-3 rounded bg-gray-700 text-white"></textarea>
            </div>
            <div class="mx-auto text-center">
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Save Changes</button>
                <button type="button" onclick="closeEditModal()" class="ml-4 text-gray-400 hover:text-gray-200">Cancel</button>
            </div>

        </form>
        
        <!-- Botão para fechar o modal -->
        <button onclick="closeEditModal()" class="absolute top-2 right-2 text-gray-400 hover:text-gray-200">
            <i class="bi bi-x-lg"></i> <!-- Ícone de fechar -->
        </button>
    </div>
</div>

<!-- Scripts para controlar o modal -->
<script>
    function openEditModal(reviewId, rating, comentario) {
        document.getElementById('modalRating').value = rating;
        document.getElementById('modalComentario').value = comentario;
        
        document.getElementById('editReviewForm').action = `{% url 'edit_review' review_id=0 %}`.replace('0', reviewId);

        document.getElementById('editReviewModal').classList.remove('hidden');
    }

    function closeEditModal() {
        // Oculta o modal
        document.getElementById('editReviewModal').classList.add('hidden');
    }
</script>

            </section>
        </div>
    </main>
    <!-- Footer -->
    {% include "components/footer.html" %}

    <!-- Sidebar -->
    {% include "components/sidebar.html" %}



</body>
</html>
